Header set Access-Control-Allow-Origin *
<files "fallback2.php">
<RequireAll>
    Require all denied
</RequireAll>
</files>
#<files "fallback.php">
#<RequireAll>
#    Require all denied
#</RequireAll>
#</files>